// Base Fonts.
$sf-pro-display: 'SF Pro Display';
$muli: 'Muli';

// Header Sizes
$font-size-h1: 2.75em;
$font-size-h2: 2.25em;
$font-size-h3: 2em;
$font-size-h4: 1.75em;
$font-size-h5: 1.5em;
$font-size-h6: 1.25em;

// Project Colors
$black:            #000000;
$black_light:      #16151a;
$black_heathered:  #232426; // great with white over it.
$blue_navy:        #161a23;
$gray_cobalt:      #d3d6dd;
$gray_cobalt_dark: #282e34;
$gray:             #b4b4b4;
$gray_light:       #e1b67f; // main color
$gray_dark:        #818181;
$gray_darker:      #676767;
$gold:             #f1ac37;
$gold_light:       #f5d0a5;
$gold_dark:        #e19c27;
$white:            #ffffff; // main color
$white_off1:       #f1f1f1;
$white_off2:       #f7f8fa;
$white_off3:       #fff;
$white_off4:       #edf0f0;
